<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<body>
<%- include('navbar') -%>
<!-- page header and title -->
<div class="container-fluid mt-3">
  <div class="jumbotron">
    <h1 class="display-4">Employee Management System</h1>
    <p class="lead">A simple and trustable way to manage employee records.</p>
    <hr class="my-4">
    <p>Click the button below to see a list of all employees.</p>
    <a class="btn btn-primary btn-lg" href="/employees-list" role="button">View All Employees</a>
  </div>
</div>

<!-- add employee card -->
<div class="container-fluid m-4">
  <div class="card text-white bg-success" style="max-width: 18rem;">
    <div class="card-header">New Employee?</div>
    <div class="card-body">
      <h5 class="card-title mb-4">Click to add information.</h5>
      <a class="btn btn-outline-light" href="/new" role="button">Add Employee</a>
    </div>
  </div>
</div>
<%- include('footer') -%>
<% include('scripts') %>
</body>
</html>
