<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<body>
<%- include('navbar') -%>
<!-- page header and title -->
<div class="container-fluid mt-3">
  <div class="jumbotron">
      <h1 class="display-3">All Employees</h1>
      <p class="lead">Click the "view" badge for more information.</p>
  </div>
</div>

<!-- table view of all employees -->
<div class="container-fluid">
  <table class="table table-striped mb-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Records</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Watson</td>
        <td><a href="/employee/1"><span class="badge badge-primary badge-pill">view</span></a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>LeBron</td>
        <td>James</td>
        <td><a href="/employee/2"><span class="badge badge-primary badge-pill">view</span></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Michael</td>
        <td>Jordan</td>
        <td><a href="/employee/3"><span class="badge badge-primary badge-pill">view</span></td>
      </tr>
    </tbody>
  </table>
</div>

<%- include('footer') -%>
<% include('scripts') %>
</body>
</html>


