<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<body>
<%- include('navbar') -%>

<!-- employee data -->
<div class="container-fluid">
  <h1 class="m-5">This will be a view of <%= title %></h1>

  <!-- back button -->
  <a href="/employees-list" class="btn btn-primary btn-lg ml-5" role="button">Go Back</a>
</div>

<%- include('footer') -%>
<% include('scripts') %>
</body>
</html>
