<%- include('header') %>
<!-- Bootstrap jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= message %></h1>
    <p class="lead">This is where you will learn about me.</p>
  </div>
</div>

<%- include('footer') %>
