<%- include('header') %>
<!-- Bootstrap jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= message %></h1>
  </div>
</div>

<!-- Button with dropdown content -->
<div class="container">
  <p>
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Welcome! Click the links in the navbar to explore the site.
    </div>
  </div>
</div>

<%- include('footer') %>
